body{
  background-image: url("../images/isabel-galvez-i54owgDjXeY-unsplash.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #062039;
  margin: 0;
  min-height: 100%;
}
.center-content{
  display: flex;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  resize: vertical;
  width: 100%;
  padding-bottom: 40px;
}
header{
  width: 30%;
  background-color: rgba(163, 193, 238, 0.35);
  border-radius: 15px 0;
  padding: 20px 0;
}
p, h1{
  text-align: center;
  padding: 0 5px;
}
h1, h4{
  color: silver;
}
.form{
  width: 65%;
  background-color: rgba(163, 193, 238, 0.35);
}


.personal-info{
  width: 48%;
  float: left;
}
.personal-info input, select{
  margin-bottom: 12px;
  margin-top: 3px;
  margin-left: 5px;
  width: 80%;
}


.employment{
  width: 50%;
  float: right;
  padding-left: 5px;
  border-left: 1px solid rgba(192, 192, 192, 0.37);
}
.checks{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.checks div{
  width: fit-content;
  margin: 5px 20px;
}
.checks label{
  float: left;
}
.checks input{
  float: right;
  margin: 0 10px;
}
.ph-addr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}


.additional{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.additional textarea{
  width: 100%;
}
.additional div{
  width: 80%;
}
.referrences{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5em;
}
.float-container{
  clear: both;
  *zoom:1;
}
.float-container::after{
  clear: both;
}
.float-container::before, .float-container::after{
  content: "";
  display: table;
}
input[type="submit"]{
  width: 100%;
  margin-top: 20px;
}
@media (max-width: 760px) {
  .ph-addr{
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .ph-addr input{
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 12px;
  }
  .center-content{
    display: block;
  }
  header{
    display: block;
    padding:20px auto;
    width: 100%;
    border-radius: 0;
  }
  .form{
    display: block;
    width: 100%;
  }
  .referrences{
    margin: 2px;
    padding: 0;
  }
}